.contact-form{
    margin: 20px auto;
  }
  .fieldWrapper{
    display: flex;
    flex-direction: column;
    padding: 0px 0px 12px;
  }
  .fieldWrapper input{
    width: 33%;
    min-width: 20em !important;
  }
  .fieldWrapper label{
    font-weight: bold;
  }
  form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 .button {
    background-color: #ff2a2a;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  .button:active{
    background-color: #dd1a1a;
  }