/* Navbar container */
.navbar {
    background-color: #2b2b2b;
    font-family: Arial;
    padding-right: 40px !important; /* To align to dropdown*/
    padding-left: 40px;
    text-align: bottom;
    }
/* Navbar Avatar */
    .navbar .gravatar{
        border-radius: 50%;
        margin: auto 10px;
        width: 32px !important;
        height: 32px !important;
        border: 1px solid #2b2b2b !important;
    }
    
    /* Links inside the navbar */
    .navbar a {
        display: flex;
        flex-direction: column;
        float: left;
        font-size: 16px;
        color: #eeeeee;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    /* Add a red background color to navbar links on hover */
    .navbar a:hover {
        background-color: #eee;
        color: #1a1a1a;
    }
    .user-btn a{
        float: right;
        display: flex;
        flex-direction: row-reverse !important;
        align-items: flex-end !important
    }
    .user-btn a:hover{
        background-color: transparent !important;
        color: #eee !important;
    }

@media all and (max-width: 700px) {
    .navbar{
        display:flex;
        flex-direction: column;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .navbar a{
        display: block;
    }
}