/* Begin  */
body {
  display: grid;
  grid: "n n"
        "h h"
        "b a"
        "f f";
  grid-template-columns: 2fr auto;
  grid-template-rows: min-content min-content 1fr min-content;
  background-color: #ebc544;
  background-image: url(../img/gw_background.png);
  background-size: 256px;
  background-repeat: repeat;
  max-height: fit-content;
  min-height: 100vh;
  width: 100%;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  a {
    color: #ff2a2a;
    text-decoration: none;
  }
  a:hover{
    text-decoration: none;
  }
}
header{
  /* Begin Header Component */
  grid-area: h; 
  min-width: 100%;
  max-height: fit-content; 
  min-height: fit-content;
  text-align: center;
  background-color: #1a1a1a;
  color: #eeeeee;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  }
  header img{
    max-height: 100px;
  }
nav{
  /* Begin Nav Bar Conponent */
  grid-area: n;
  min-width: 100%;
  border-bottom: 2px solid #eeeeee;
}
main{
  /* Begin Main Body Content */
  grid-area: b;
  margin-left: 1dvw;
}
  .whitebox{
    display: block;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    margin: 20px auto auto auto;
    border: medium solid #1a1a1a;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #1a1a1a;
    background-color: #eeeeee;
    color: #1a1a1a;
  }
  .darkbox{
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: #1a1a1a;
    border: medium solid #1a1a1a;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #1a1a1a;
    margin: 20px auto auto;
    padding: 2px;
    color: #eeeeee;
    width: 20dvw;
  }
    .whitebox p{
      margin: 2dvh 3dvh;
    }
.fineprint{
  font-size: x-small !important;
}
.fineprint h1{
  font-size: large;
}
.fineprint p{
  padding: none;
}
.title{
  text-align: center;
}
/* Begin Sidebar Content */
aside {
  grid-area: a;
  margin-right: 3dvw;
}
/* Begin Footer Content */
footer {
grid-area: f;
display: flex;
flex-direction: column;
width: 100%;
min-height: fit-content;
background-color: #1a1a1a;
margin: 20px 0px 0px 0px;
font-size: small;
color: #eeeeee;
}
#footcontainer{
display: inline-flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-items: flex-start;
margin: auto 0px auto 0px;
}
#footcontainer div{
margin: 0px 10px;
}
footer ul{
margin: 3px;
list-style: none;
padding-left: 0px;
}
footer ul li{
margin: 4px auto;
}
#copy {
display: inline-block;
background-color: #1a1a1a;
font-size: small;
color: #eeeeee;
padding-top: 10px;
text-align: center;
font-style: oblique;
}

@media all and (max-width: 700px) {
    body { 
      display: grid;
      grid: "h"
            "n"
            "b"
            "a"
            "f";
      grid-template-rows: min-content min-content 1fr min-content min-content;
    }
    header {
      display: none !important;
    }
    main{
      margin: auto !important;
    }
    .whitebox {
      
      width: 80dvw !important;
      margin: 20px auto auto auto !important;
    }
    aside{
      margin: auto !important;
    }
    aside .darkbox {
      
      width: 80dvw !important;
      margin: 20px auto auto auto !important;
    }
}