/* Begin  */
body {
  display: grid;
  grid: "h h"
        "n n"
        "b a"
        "f f";
  grid-template-columns: 1fr auto;
  grid-template-rows: min-content min-content 1fr min-content;
  background-color: #ebc544;
  background-image: url(../img/gw_background.png);
  background-size: 256px;
  background-repeat: repeat;
  max-height: fit-content;
  min-height: 100vh;
  width: 100%;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  a {
    color: #ff2a2a;
    text-decoration: none;
  }
  a:hover{
    text-decoration: none;
  }
}

/* Begin Header Component */
header{
  grid-area: h; 
  min-width: 100%;
  max-height: fit-content; 
  min-height: fit-content;
  text-align: center;
  background-color: #1a1a1a;
  color: #eeeeee;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;

}
header img{
  max-height: 100px;
}

/* Begin Main Body Content */
main{
  grid-area: b;
}
.whitebox{
  display: block;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  padding: 20px 10px 10px 20px;
  margin: 20px auto auto auto;
  border: medium solid #1a1a1a;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #1a1a1a;
  background-color: #eeeeee;
  color: #1a1a1a;
}
.darkbox{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: #1a1a1a;
  border: medium solid #1a1a1a;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #1a1a1a;
  margin: 20px auto auto auto;
  padding: 2px;
  color: #eeeeee;
  width: 90%;
}
.fineprint{
  font-size: x-small !important;
}
.fineprint h1{
  font-size: large;
}
.fineprint p{
  padding: none;
}
.title{
  text-align: center;
}

/* Begin Nav Bar Conponent */
nav{
  grid-area: n;
  min-width: 100%;
  background-color: #1a1a1a;
  border-bottom: 2px solid #eeeeee;
}
/* Navbar container */
.navbar {
overflow: hidden;
background-color: #2b2b2b;
font-family: Arial;
padding-right: 40px !important; /* To align to dropdown*/
padding-left: 40px;
text-align: bottom;
}

/* Links inside the navbar */
.navbar a {
display: flex;
flex-direction: column;
float: left;
font-size: 16px;
color: #eeeeee;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
.navbar .login{
float: right;
}

/* The dropdown container */
.dropdown {
float: right;
min-width: fit-content;
overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
font-size: 16px;
min-width: fit-content;
border: none;
outline: none;
color: white;
padding: 14px 16px;
background-color: inherit;
font-family: inherit; /* Important for vertical align on mobile phones */
margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover {
background-color: #ff2a2a;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
display: none;
position: absolute;
right: 40px !important; /* To a lign to dropdown */
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: flex;
flex-direction: column;
text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
display: flex;
flex-direction: column;
}

/* Logout Button Style */
.logout-btn{
font-size: 16px;
width: 100%;
text-align: left;
border: none;
outline: none;
color: black;
padding: 14px 16px;
background-color: inherit;
font-family: inherit; /* Important for vertical align on mobile phones */
margin: 0;
}
.logout-btn:focus{
outline: none;
}
.logout-btn:hover{
background-color: #ddd;
cursor: pointer;
}

/* Begin Sidebar Content */
aside {
  grid-area: a;
}
aside section{
  display: block;
  background-color: #1a1a1a;
  border: medium solid #1a1a1a;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #1a1a1a;
  margin: 20px auto auto auto;
  padding: 2px;
  color: #eeeeee;
  width: 90%;
}
.sidenews{
  display: flex;
  flex-direction: column;
  margin: 10px;
}
/* Begin Footer Content */
footer {
grid-area: f;
display: flex;
flex-direction: column;
width: 100%;
min-height: fit-content;
background-color: #1a1a1a;
margin: 20px 0px 0px 0px;
font-size: small;
color: #eeeeee;
}
#footcontainer{
display: inline-flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-items: flex-start;
margin: auto 0px auto 0px;
}
#footcontainer div{
margin: 0px 10px;
}
footer ul{
margin: 3px;
list-style: none;
padding-left: 0px;
}
footer ul li{
margin: 4px auto;
}
#copy {
display: inline-block;
background-color: #1a1a1a;
font-size: small;
color: #eeeeee;
padding-top: 10px;
text-align: center;
font-style: oblique;
}
@media all and (max-width: 700px) {
body { 
  display: grid;
  grid: "h"
        "n"
        "b"
        "a"
        "f";
  grid-template-rows: min-content min-content 1fr min-content min-content;
}
main section {
  
  max-width: 80dvw !important;
  margin: 20px auto auto auto !important;
}
aside section {
  
  max-width: 80dvw !important;
  margin: 20px auto auto auto !important;
}
nav .nav{
  overflow: hidden;
}

}