    <div id="left">
        <h1>Site</h1>
        <ul>
            <li><a href="index.html"><i class="fa-solid fa-house"></i>&nbspHome</a></li>
            <li><a href="https://discord.gg/Dbf8Y25FeV"><i class="fa-brands fa-discord"></i>&nbspDiscord</a></li>
            <li><a href="contact.html"><i class="fa-solid fa-envelope"></i>&nbspContact</a></li>
        </ul>
    </div>
    <div id="right">
        <h1>Information</h1>
        <ul>
            <li><a href="tos.html"><i class="fa-solid fa-file-contract"></i>&nbspTerms and Conditions</a></li>
            <li><a href="privacy.html"><i class="fa-solid fa-lock"></i>&nbspPrivacy Notice</a></li>
            <li><a href="tos.html"><i class="fa-solid fa-file-contract"></i>&nbspTerms and Conditions</a></li>
            <li><a href="privacy.html"><i class="fa-solid fa-lock"></i>&nbspPrivacy Notice</a></li>
            <li><a href="tos.html"><i class="fa-solid fa-file-contract"></i>&nbspTerms and Conditions</a></li>
            <li><a href="privacy.html"><i class="fa-solid fa-lock"></i>&nbspPrivacy Notice</a></li>
        </ul>
    </div>
    <div id="copyright">
        <em><strong>&copy 2024 GameWeenies. All rights reserved.</strong></em>
    </div>
