{% include "base.html" %}
{% load static %}
{% load gravatar%}
<head>
        <title>Game Weenies</title>
        <meta property="og:type" content="website">
        <meta property="og:title" content="Game Weenies" />
        <meta property="og:description" content="Game Weenies is a gaming community for people. Sometimes also not people." />
        <meta property="og:url" content="https://gameweenies.net" />
        <meta property="og:image" content="https://gameweenies.net/img/weenie.png" />
</head>
<main>
<div class="whitebox">
    <form action="" method="post">
        {% csrf_token %}
        {% if form.email.errors %}
          {{ form.email.errors }}
        {% endif %}
            <p>{{ form.email }}</p>
          <input type="submit" class="btn btn-default btn-lg" value="Reset password">
        </form>
</div>
</main>