body {
    background-color: #ebc544;
    background-image: url(../img/gw_background.png);
    background-size: 256px;
    background-repeat: repeat;
  }
  h1 {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  h2 {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }
  h3 {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }
  a{
    color: #ff2a2a;
    text-decoration: none;
  }
  a:hover{
    color: #ff2a2a;
    text-decoration: underline;
  }
  li::marker {
    color: white;
    align-items: center;
  }
  p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin: auto;
  }
  .main {
    display: block;
    background-color: white;
    width: 90vw;
    height: auto;
    border: .4vw solid black;
    border-radius: 10px;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 5px 5px red;
  }
  .weenie {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    position: absolute;
    margin-top: 0;
  }
  .official{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: right;
  }
