body {
    display: grid;
    grid: "h h"
          "n n"
          "b a"
          "f f";
    grid-template-columns: auto auto;
    grid-template-rows: min-content min-content 1fr min-content;
    background-color: #ebc544;
    background-image: url(../img/gw_background.png);
    background-size: 256px;
    background-repeat: repeat;
    max-height: fit-content;
    min-height: 100vh;
    width: 100%;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
  }
  @media all and (max-width: 60em) {
    /* Too narrow to support three columns */
    body { 
      display: grid;
      grid: "h"
            "n"
            "b"
            "a"
            "f";
      grid-template-rows: min-content min-content 1fr min-content min-content;
    }
    main article {

      width: 80dvw !important;
      max-width: 80dvw !important;
      margin: 20px auto auto auto !important;
    }
    aside article{
      width: 80dvw !important;
      max-width: 80dvw !important;
      margin: 20px auto auto auto !important;
    }
  }

  a{
    color: #ff2a2a;
    text-decoration: none;
  }
  a:hover{
    color: #ff2a2a;
    text-decoration: none;
  }

  header{
    grid-area: h; 
    min-width: 100%; 
    max-height: fit-content; 
    min-height: fit-content;
    background-color: #1a1a1a;
    text-align: center;
    color: white;
}

main{
    grid-area: b;
    vertical-align: top;
  }
  main article{
    display: block;
    background-color: white;
    border: medium solid #1a1a1a;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #1a1a1a;
    margin: 20px auto auto auto;
    padding: 0px 20px 0px 20px;
    max-width: 90%;
  }

nav{
    grid-area: n;
    vertical-align: top;
    min-width: fit-content;
    background-color: #1a1a1a;
  }
  nav ul{
    list-style: none;
  }
  nav ul li{
    display: inline;
    flex-grow: auto;
    margin: auto;
    padding-inline: auto;
  }

aside {
    grid-area: a;
    vertical-align: top;
    min-width: fit-content;
  }
  aside article{
    display: block;
    background-color: #1a1a1a;
    border: medium solid #1a1a1a;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #1a1a1a;
    padding: 10px 2px 2px 2px;
    margin: 20px 8dvw 20px auto;
    width: 90%;
    min-width: fit-content;
    color: #eeeeee;
    text-align: center;
  }

footer {
  grid-area: f;
  min-width: 100%;
  min-height: fit-content;
  background-color: #1a1a1a;
  bottom: 0;
  margin: 20px 0px 0px 0px;
  font-size: small;
  color: #eeeeee;
  display: grid;
  grid: "l r"
        "c c";
}
footer ul {
  list-style: none;
  padding: 0px 0px 0px 2px;
}
footer h1 {
  font-size: small;
}

footer #left {
  grid-area: l;
  display: inline-block;
  width: auto;
  min-width: fit-content;
  vertical-align: top;
  margin: 0px 10px auto 30px;
  
}
footer #right {
  grid-area: r;
  width: auto;
  min-width: fit-content;
  vertical-align: top;
  margin: 0px auto auto 30px;
  padding: 0px 10px 0px 30px;
}
footer #copyright {
  grid-area: c;
  text-align: center;
}