  body {
    background-color: #ebc544;
    background-image: url(../img/gw_background.png);
    background-size: 256px;
    background-repeat: repeat;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
  }
  a{
    color: #ff2a2a;
    text-decoration: none;
  }
  a:hover{
    color: #ff2a2a;
    text-decoration: underline;
  }
  .c_iframe iframe{
    width: 84vw;
    height: 100%;
  }
  .c_iframe{
    width: 100%;
    height: 1000px;
  }
  .whiteblock {
    display:  table;
    background-color: white;
    width: 85vw;
    height: auto;
    border: medium solid #1a1a1a;
    border-radius: 10px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 5px #1a1a1a;
  }
  .whiteblock p{
    padding-left: 12px;
    padding-right: 12px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .whiteblock h1{
    padding-left: 12px;
    padding-right: 12px;
    color: #1a1a1a;
  }
  .whiteblock h2{
    padding-left: 12px;
    padding-right: 12px;
  }
  .whiteblock h3{
    padding-left: 12px;
    padding-right: 12px;
  }
  .whiteblock h4{
    padding-left: 12px;
    padding-right: 12px;
  }
  .weenie {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    position: absolute;
    margin-top: 0;
  }
  .official{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: right;
  }
  footer{
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    margin-top: 27px;
  }