/* Begin  */
body {
    display: grid;
    grid: "h h"
          "n n"
          "b a"
          "f f";
    grid-template-columns: auto auto;
    grid-template-rows: min-content min-content 1fr min-content;
    background-color: #ebc544;
    background-image: url(../img/gw_background.png);
    background-size: 256px;
    background-repeat: repeat;
    max-height: fit-content;
    min-height: 100vh;
    width: 100%;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    a {
      color: #ff2a2a;
      text-decoration: none;
    }
    a:hover{
      text-decoration: none;
    }
  }
.components {
    display: contents;
}

/* Begin Header Component */
header{
    grid-area: h; 
    min-width: 100%;
    max-height: fit-content; 
    min-height: fit-content;
    text-align: center;
    background-color: #1a1a1a;
    color: #eeeeee;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;

}
header img{
    max-height: 100px;
}

/* Begin Main Body Content */
main{
    grid-area: b;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  main section{
    display: block;
    background-color: #eeeeee;
    border: medium solid #1a1a1a;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #1a1a1a;
    margin: 20px auto auto auto;
    max-width: 90%;
  }
  main article{
    display: flex;
    flex-direction: column;
    color: #1a1a1a;
    padding-left: 20px;
    padding-right: 10px;
    
  }
  main h1, h2, h3, h4, h5, h6{
    font-size: medium;
  }
  
/* Begin Nav Bar Conponent */
nav{
    grid-area: n;
    min-width: 100%;
    background-color: #1a1a1a;
    border-bottom: 2px solid #eeeeee;
  }
  /* Add a black background color to the top navigation */
  .topnav {
  background-color: #1a1a1a;
  overflow: hidden;
  }

/* Style the links inside the navigation bar */
  .topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  }

/* Change the color of links on hover */
  .topnav a:hover {
  background-color: #eeeeee;
  color: black;
  }

/* Add an active class to highlight the current page */
  .topnav a.active {
  background-color: #ff2a2a;
  color: #eeeeee;
  }

/* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
  display: none;
  }
  nav ul{
    list-style: none;
  }
  nav ul li{
    display: inline;
    flex-grow: auto;
    margin: auto;
    padding-inline: auto;
  }

  /* Begin Sidebar Content */
aside {
    grid-area: a;
  }
  aside section{
    display: block;
    background-color: #1a1a1a;
    border: medium solid #1a1a1a;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #1a1a1a;
    margin: 10px auto auto auto;
    padding: 2px;
    color: #eeeeee;
    width: 90%;
  }
  aside section *{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

/* Begin Footer Content */
footer {
  grid-area: f;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: fit-content;
  background-color: #1a1a1a;
  margin: 20px 0px 0px 0px;
  color: #eeeeee;
}
#footcontainer{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 20px;
}
footer h1{
  font-size: small;
}
footer ul{
  margin: 0px;
  list-style: none;
  padding-left: 0px;
}
footer ul li{
  margin: auto;
}
#copy {
  display: inline-block;
  background-color: #1a1a1a;
  font-size: small;
  color: #eeeeee;
  padding-top: 10px;
  text-align: center;
  font-style: oblique;

}
/* Portrait and Small devices */
@media all and (max-width: 700px) {
  body { 
    display: grid;
    grid: "h"
          "n"
          "b"
          "a"
          "f";
    grid-template-rows: min-content min-content 1fr min-content min-content;
  }
  main section {
    
    max-width: 80dvw !important;
    margin: 20px auto auto auto !important;
  }
  aside section {
    
    max-width: 80dvw !important;
    margin: 20px auto auto auto !important;
  }
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}