{% include 'base.html' %}
{% load static %}
{% load gravatar %}
<head>
    <link href="{% static 'css/form.css' %}" rel="stylesheet" type="text/css" />
</head>
<main>
    <div class="whitebox">
        <form method="post">
            {% csrf_token %}
            <h2>Contact</h2>
            {% for field in form %}
              <div class="fieldWrapper">
              {{ field.errors }}
              {{ field.label_tag }} {{ field }}
              </div>
            {% endfor %}
            <input type="submit" class="button" value="Update">
            <p><a href="{% url 'login' %}">Already have an account?</a> |
             <a href="{% url 'password_reset' %}">Lost password?</a></p>
          </form>
    </div>
</main>