{% include 'base.html' %}
{% load static %}
{% load gravatar %}
<head>
    <link href="{% static 'css/profile.css' %}" rel="stylesheet" type="text/css" />
</head>
<main>
    
<div class="whitebox">
    {% if object == user %}
    <small>self profile..</small>
    {% endif %}
    <div class="profile">
        <div class="header">
            <div id="name-info">
                <h1>{{ object.displayname }}</h1> 
                <p>{{ object.date_joined }}</p>
            </div>
            <div id="avatar-info">
                {% gravatar object.email %}
                {% if object == user %}
                <a href="https://gravatar.com/"><small>Change your avatar</small></a>
                {% endif %}
            </div>
        </div>
        <div class="profile_content">
            <div>
                {{ object.profile.first_name }}
                {{ object.profile.last_name }}
                {{ object.profile.location }}
                {{ object.profile.birth_date }}
                {{ object.profile.bio }}
            </div>
        </div>
    </div>
</div>
</main>